//se utiliza $ para crear las variables

// tipografia
$fuente_principal: 'Montserrat', sans-serif;


// colores
$verde:    rgba(5, 209, 255, 0.897);
$rosa:     #f707a3;
$amarillo: rgb(197, 233, 56);
$morado:   #6b349a;
$negro:    #000;
$blanco:   #fff;

// tamaños de los media queres
$telefono:480px;
$tablet:768px;
$desktop:992px;
$desktopXL:1200px;